ellipsis()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap


flex-center()
  display flex
  justify-content center
  align-items center
  flex-direction row

flex-centerRow()
  display flex
  justify-content center
  align-items center
  flex-direction column
